.header-flex{
    background-image:url(assets/fon_1.svg);
    width: 100%;
    height: 100%;
 

}
.container{
    max-width: 1130px;
    margin: 0 auto;
}
.header-left{
    display: flex;
    align-items: center;
}
.ENG-in-header{
    background: none;
    padding: 0;
    border: none;
    color: white;
}
.header-links a{
    margin-right: 24px;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    align-items: center;
    border-left:147px; 

}
.header-links{
    align-items: center;
    border-left:147px; 

}
.xbst{
    display: flex;
}
.img{
    display: flex;
    justify-content: left;
    border-left: 121px;
}
.heads{
    display: flex;
    justify-content: space-between;
    padding: 44px;
}
.SURVIVE{
    width: fit-content;
    margin: 0 auto;
}
.Experience{
    width: fit-content;
    margin: 0 auto;
}
.centr{
    color: #FFFFFF;
}
.cena{
    border-left: 1px solid;
    padding-left: 14px;
    margin-left:11px;
    margin-right:16px ;
}
.buttoN{
    width: fit-content;
    margin: 0 auto;
    background-color:#F3AF34 ;
    color:black;
    font-weight: bold;
    border: none;
    padding:17px 0 17px 17px ;
}